{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}
  
{% if user.is_authenticated %}
<center>
<h1>Delete Movie</h1>
<p>Are you sure you want to delete "{{ object.title }}"?</p>
<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Yes, delete</button>
    <a class="btn btn-info" href="{% url 'movies' %}">Cancel</a>
</form>
</center>
{% else %}
 <center> <h1> <strong> Please Log in or Sign Up First </strong></h1> </center>
{% endif %}
{% endblock start %}