{% extends "user/index.html" %}
{% load crispy_forms_tags %}
{% block start %}
  
{% if user.is_authenticated %}
 <div class="content-section col-md-8 col-md-offset-2">
  <h1>Movie: {{ movie.title }}</h1>
  <a href="{% url 'movies' %}">Back to Movie List</a>
  <div class="card mb-3">
    {% if movie.poster %}
    <img class="card-img-top mt-3" src="{{ movie.poster.url }}" alt="{{ movie.title }}" width="1132px" height="480px" >
{% else %}
    <img class="card-img-top" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%221132%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%201132%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_19314540952%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A57pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_19314540952%22%3E%3Crect%20width%3D%221132%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22401.8828125%22%20y%3D%22115.5%22%3E1132x180%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" alt="Card image cap">
    {% endif %}
    <div class="card-body">
      <h5 class="card-title"> Title: {{movie.title}}</h5>
      <p class="card-text">
        Genres: 
    {% for genre in movie.genre.all %}
        {{ genre.title }} {% if not forloop.last %}, {% endif %}
    {% endfor %}</p>
    <p class="card-text">Director: {{movie.director}}</p>
    <p class="card-text">Rating: {{movie.imdb_rating}}</p>
    
    
    </div>
  </div>
 </div>
 {% else %}
 <center> <h1> <strong> Please Log in or Sign Up First </strong></h1> </center>
{% endif %}
{% endblock start %}


